/*
	2_4.html �� css �ۼ�
*/
*{margin: 0;}

body{
	width: 1100px;
	margin:10px auto;	
	text-align: center;	
}

header{
	background-color: rgb(255, 160, 122);
	height: 100px;
	padding: 20px 0;
}

nav{
	background-color: rgb(144, 238, 144);
	margin: 20px 0;

}

main{
	background-color: rgb(211, 211, 211);	
}

main>h1{
	padding: 20px;
}

aside{
	float: left;
	width: 200px;
	background-color:rgb(135, 206, 235);
	height:500px;
	padding: 15px 0;	
}

aside>nav{
	margin: 10px 5px;
}

section{
	float: left;
	background-color: rgb(255, 208, 225);
	height: 500px;
	width:700px;
	padding: 15px 0;
	
}
article{
	background-color: rgb(255, 127, 80);
	margin: 20px;
	height:300px;
	padding: 10px 0;
}


footer{
	clear: both;
	background-color: rgb(255, 160, 122);
	height: 80px;
}


   